*.gitignore filter=lfs diff=lfs merge=lfs -text
*.iml filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.doc# filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.lst filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]1/Computer[[:space:]]Systems[[:space:]]Architecture/Lab[[:space:]]assignments/Lab[[:space:]]8[[:space:]]-[[:space:]]String[[:space:]]op/abcCCgCCABCCDCCC@\#C filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.ppsx filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.coverage filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.coveragerc filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.name filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/1[[:space:]]-[[:space:]]Dynamic[[:space:]]Array[[:space:]]Sorted[[:space:]]Set/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/1[[:space:]]-[[:space:]]Dynamic[[:space:]]Array[[:space:]]Sorted[[:space:]]Set/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/1[[:space:]]-[[:space:]]Dynamic[[:space:]]Array[[:space:]]Sorted[[:space:]]Set/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/1[[:space:]]-[[:space:]]Dynamic[[:space:]]Array[[:space:]]Sorted[[:space:]]Set/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
*.ninja_deps filter=lfs diff=lfs merge=lfs -text
*.ninja_log filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.check_cache filter=lfs diff=lfs merge=lfs -text
*.ninja filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/2[[:space:]]-[[:space:]]SortedIteratedList[[:space:]]-[[:space:]]DLL/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/2[[:space:]]-[[:space:]]SortedIteratedList[[:space:]]-[[:space:]]DLL/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/2[[:space:]]-[[:space:]]SortedIteratedList[[:space:]]-[[:space:]]DLL/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/2[[:space:]]-[[:space:]]SortedIteratedList[[:space:]]-[[:space:]]DLL/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/4[[:space:]]-[[:space:]]MultiMap[[:space:]]-[[:space:]]Hashmap[[:space:]]with[[:space:]]SLL[[:space:]]-[[:space:]]Dynamic[[:space:]]array[[:space:]]at[[:space:]]each/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/4[[:space:]]-[[:space:]]MultiMap[[:space:]]-[[:space:]]Hashmap[[:space:]]with[[:space:]]SLL[[:space:]]-[[:space:]]Dynamic[[:space:]]array[[:space:]]at[[:space:]]each/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/4[[:space:]]-[[:space:]]MultiMap[[:space:]]-[[:space:]]Hashmap[[:space:]]with[[:space:]]SLL[[:space:]]-[[:space:]]Dynamic[[:space:]]array[[:space:]]at[[:space:]]each/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/4[[:space:]]-[[:space:]]MultiMap[[:space:]]-[[:space:]]Hashmap[[:space:]]with[[:space:]]SLL[[:space:]]-[[:space:]]Dynamic[[:space:]]array[[:space:]]at[[:space:]]each/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/5[[:space:]]-[[:space:]]SortedBag[[:space:]]-[[:space:]]BST[[:space:]]on[[:space:]]array/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/5[[:space:]]-[[:space:]]SortedBag[[:space:]]-[[:space:]]BST[[:space:]]on[[:space:]]array/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/5[[:space:]]-[[:space:]]SortedBag[[:space:]]-[[:space:]]BST[[:space:]]on[[:space:]]array/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/5[[:space:]]-[[:space:]]SortedBag[[:space:]]-[[:space:]]BST[[:space:]]on[[:space:]]array/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/Set/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/Set/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/Set/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/DSA/Assignments/Set/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]2[[:space:]]-[[:space:]]BFS/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]2[[:space:]]-[[:space:]]BFS/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]2[[:space:]]-[[:space:]]BFS/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]2[[:space:]]-[[:space:]]BFS/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
*.clang-tidy filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]3[[:space:]]-[[:space:]]shortest[[:space:]]path/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]3[[:space:]]-[[:space:]]shortest[[:space:]]path/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]3[[:space:]]-[[:space:]]shortest[[:space:]]path/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]3[[:space:]]-[[:space:]]shortest[[:space:]]path/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]4[[:space:]]-[[:space:]]Kruskal/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]4[[:space:]]-[[:space:]]Kruskal/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]4[[:space:]]-[[:space:]]Kruskal/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]4[[:space:]]-[[:space:]]Kruskal/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]5[[:space:]]-[[:space:]]TSP[[:space:]]Approximation/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]5[[:space:]]-[[:space:]]TSP[[:space:]]Approximation/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]5[[:space:]]-[[:space:]]TSP[[:space:]]Approximation/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/Graphs/Labs/Lab[[:space:]]5[[:space:]]-[[:space:]]TSP[[:space:]]Approximation/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/Test[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/Test[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/Test[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/Test[[:space:]]1/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
*.dd filter=lfs diff=lfs merge=lfs -text
*.ddi filter=lfs diff=lfs merge=lfs -text
*.d filter=lfs diff=lfs merge=lfs -text
*.i filter=lfs diff=lfs merge=lfs -text
*.modmap filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/untitled/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/untitled/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/untitled/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Tests/untitled/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Written/cmake-build-debug/.cmake/api/v1/query/cache-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Written/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Written/cmake-build-debug/.cmake/api/v1/query/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
/Semester[[:space:]]2/OOP/Written/cmake-build-debug/.cmake/api/v1/query/toolchains-v1 filter=lfs diff=lfs merge=lfs -text
*.readme filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
